body {
    font-family: Arial, sans-serif;
    background-color: #f3c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video-container {
    position: relative;
    width: 640px;
    align-items: center;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdb6b6;
    padding: 10px;
}

button, input {
    margin-right: 10px;
}

#progressBar {
    flex-grow: 1;
    margin-right: 10px;
}